{% extends "viewer/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid" style="margin-left: 50px; margin-right: 50px;">
    <h2>{{ project_name }} | Sample Statuses (BETA, MOSTLY ACCURATE):</h2>
	<table class="table table-hover">
		<thead>
            <tr>
				<th>Study</th>
				<th class="col-xs-2">Sample</th>
                <th>BID</th>
                <th>Library Type</th>
                <th>Sequencing Submit Date</th>
				<th>Sequence Date</th>
				<th>Align Date</th>
				<th>Analysis Date</th>
                <th>Status</th>
			</tr>
		</thead>
        <tbody>
        {% for s in statuses %}
        <tr>
            <td>{{ s.study.name }}</td>
            <td>{{ s.sample.name }}</td>
            <td>{{ s.bnid.bnid }}</td>
            <td>{{ s.bnid.library_type}}</td>
            <td>{{ s.submit_date }}</td>
            <td>{%if s.status != 'Sample submitted for sequencing' and s.status != 'SEQUENCED'%}<a
                    href="/~mbrown/ALIGN/{{s.bnid.bnid}}/QC/" >{{ s.sequence_date }}</a>{% else %}{{ s.sequence_date }}
                {%endif%}</td>
            <td>{{ s.align_date }}</td>
            <td>{{ s.analysis_date }}</td>
            <td>{{ s.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
</div>

{% endblock %}
