{% extends "viewer/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <h2>{{ project_name }} | Sample Statuses (BETA, NOT ACCURATE):</h2>
	<table class="table table-hover">
		<thead>
            <tr>
				<th>Study</th>
				<th>Sample</th>
                <th>BID</th>
				<th>Sequence Date</th>
				<th>Align Date</th>
				<th>Analysis Date</th>
                <th>Status</th>
                <th>&nbsp;</th>
			</tr>
		</thead>
        <tbody>
        {% for s in statuses %}
        <tr>
            <td class="col-xs-2">{{ s.study.name }}</td>
            <td>{{ s.sample.name }}</td>
            <td>{{ s.bnid.bnid }}</td>
            <td>{{s.sequence_date}}</td>
            <td>{{s.align_date}}</td>
            <td>{{s.analysis_date}}</td>
            <td>{{s.status}}</td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
</div>

{% endblock %}
